USE [master]
GO
/****** Object:  Database [MyFirstGame]    Script Date: 25/02/2018 14:51:27 ******/
CREATE DATABASE [MyFirstGame]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyFirstGame', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MyFirstGame.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyFirstGame_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MyFirstGame_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyFirstGame].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyFirstGame]
GO
USE [MyFirstGame]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25/02/2018 14:51:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 25/02/2018 14:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[IdA] [int] IDENTITY(1,1) NOT NULL,
	[NombreA] [varchar](100) NOT NULL,
	[ApellidoA] [varchar](100) NOT NULL,
	[GradoA] [varchar](100) NOT NULL,
	[EdadA] [varchar](100) NOT NULL,
	[SexoA] [varchar](100) NOT NULL,
	[Cuidad] [varchar](100) NOT NULL,
	[Departamento] [varchar](100) NOT NULL,
	[Telefono] [varchar](100) NOT NULL,
	[Colegio] [varchar](100) NOT NULL,
	[FechaCreada] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 25/02/2018 14:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[IdCurso] [int] IDENTITY(1,1) NOT NULL,
	[NombreCurso] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Curso] PRIMARY KEY CLUSTERED 
(
	[IdCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docente]    Script Date: 25/02/2018 14:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docente](
	[IdDocente] [int] IDENTITY(1,1) NOT NULL,
	[NombreD] [varchar](100) NOT NULL,
	[ApellidoD] [varchar](100) NOT NULL,
	[DNI] [varchar](8) NOT NULL,
	[Rol] [varchar](30) NOT NULL,
	[FechaCr] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDocente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ejercicio]    Script Date: 25/02/2018 14:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejercicio](
	[IdEjercicio] [int] IDENTITY(1,1) NOT NULL,
	[NombreEjercicio] [nvarchar](max) NULL,
	[NivelDificultad] [nvarchar](max) NULL,
	[NombreLeccion] [nvarchar](max) NULL,
	[Lecciones_IdLeccion] [int] NULL,
 CONSTRAINT [PK_dbo.Ejercicio] PRIMARY KEY CLUSTERED 
(
	[IdEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecciones]    Script Date: 25/02/2018 14:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecciones](
	[IdLeccion] [int] IDENTITY(1,1) NOT NULL,
	[NombreLeccion] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[NombreTema] [nvarchar](max) NULL,
	[Tema_IdTema] [int] NULL,
 CONSTRAINT [PK_dbo.Lecciones] PRIMARY KEY CLUSTERED 
(
	[IdLeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 25/02/2018 14:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[NombreP] [varchar](100) NOT NULL,
	[ApellidoP] [varchar](100) NOT NULL,
	[Edad] [varchar](3) NOT NULL,
	[Sexo] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 25/02/2018 14:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[PreguntaId] [int] IDENTITY(1,1) NOT NULL,
	[pregunta] [nvarchar](max) NULL,
	[opt1] [nvarchar](max) NULL,
	[opt2] [nvarchar](max) NULL,
	[opt3] [nvarchar](max) NULL,
	[opt4] [nvarchar](max) NULL,
	[contador] [nvarchar](max) NULL,
	[Respuesta] [nvarchar](max) NULL,
	[Curso_IdCurso] [int] NULL,
 CONSTRAINT [PK_dbo.Preguntas] PRIMARY KEY CLUSTERED 
(
	[PreguntaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecursoEducativo]    Script Date: 25/02/2018 14:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecursoEducativo](
	[IdRecurso] [int] IDENTITY(1,1) NOT NULL,
	[NombreRecurso] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Tipo] [nvarchar](max) NULL,
	[NombreLeccion] [nvarchar](max) NULL,
	[Lecciones_IdLeccion] [int] NULL,
 CONSTRAINT [PK_dbo.RecursoEducativo] PRIMARY KEY CLUSTERED 
(
	[IdRecurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tema]    Script Date: 25/02/2018 14:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tema](
	[IdTema] [int] IDENTITY(1,1) NOT NULL,
	[NombreTema] [nvarchar](max) NULL,
	[Periodo] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[NombreCurso] [nvarchar](max) NULL,
	[Curso_IdCurso] [int] NULL,
 CONSTRAINT [PK_dbo.Tema] PRIMARY KEY CLUSTERED 
(
	[IdTema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuarios]    Script Date: 25/02/2018 14:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuarios](
	[IdTipo] [int] IDENTITY(1,1) NOT NULL,
	[TipoUsuario] [varchar](50) NULL,
	[NombreCompleto] [varchar](100) NULL,
	[Usuario] [varchar](50) NULL,
	[Clave] [varchar](50) NULL,
	[FechaCreado] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alumno] ON 

INSERT [dbo].[Alumno] ([IdA], [NombreA], [ApellidoA], [GradoA], [EdadA], [SexoA], [Cuidad], [Departamento], [Telefono], [Colegio], [FechaCreada]) VALUES (1, N'Darley', N'Evangelista', N'6 primaria', N'21', N'Masculino', N'Trujillo', N'La Libertad', N'1234', N'TRM', CAST(N'2018-02-24T01:35:43.493' AS DateTime))
INSERT [dbo].[Alumno] ([IdA], [NombreA], [ApellidoA], [GradoA], [EdadA], [SexoA], [Cuidad], [Departamento], [Telefono], [Colegio], [FechaCreada]) VALUES (2, N'HENRY', N'LIZARRAGA', N'3 GRADO', N'21', N'MASCULINO', N'TRUJILLO', N'LA LIBERTAD', N'123456', N'TRM', CAST(N'1900-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Alumno] ([IdA], [NombreA], [ApellidoA], [GradoA], [EdadA], [SexoA], [Cuidad], [Departamento], [Telefono], [Colegio], [FechaCreada]) VALUES (3, N'NICOLAS', N'CASTILLO', N'3 GRADO', N'6', N'MASCULINO', N'TRUJILLO', N'LA LIBERTAD', N'986857293', N'ALEXANDER GRAHAM BELL', CAST(N'1900-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Alumno] OFF
SET IDENTITY_INSERT [dbo].[Curso] ON 

INSERT [dbo].[Curso] ([IdCurso], [NombreCurso]) VALUES (1, N'Lenguaje')
INSERT [dbo].[Curso] ([IdCurso], [NombreCurso]) VALUES (2, N'Matematica')
SET IDENTITY_INSERT [dbo].[Curso] OFF
SET IDENTITY_INSERT [dbo].[Docente] ON 

INSERT [dbo].[Docente] ([IdDocente], [NombreD], [ApellidoD], [DNI], [Rol], [FechaCr]) VALUES (1, N'Pep', N'Zoe', N'12345678', N'DOCENTE', CAST(N'2018-02-24T01:13:59.783' AS DateTime))
SET IDENTITY_INSERT [dbo].[Docente] OFF
SET IDENTITY_INSERT [dbo].[Ejercicio] ON 

INSERT [dbo].[Ejercicio] ([IdEjercicio], [NombreEjercicio], [NivelDificultad], [NombreLeccion], [Lecciones_IdLeccion]) VALUES (1, N'Unidades, Decenas y Centenas', N'Intermedio', N'Unidades, Decenas y Centenas', 1)
INSERT [dbo].[Ejercicio] ([IdEjercicio], [NombreEjercicio], [NivelDificultad], [NombreLeccion], [Lecciones_IdLeccion]) VALUES (2, N'Números de 5 Cifras', N'Intermedio', N'Números de 5 Cifras', 2)
INSERT [dbo].[Ejercicio] ([IdEjercicio], [NombreEjercicio], [NivelDificultad], [NombreLeccion], [Lecciones_IdLeccion]) VALUES (3, N'Aproximación a la Centena y al Millar', N'Intermedio', N'Aproximación a la Centena y al Millar', 3)
SET IDENTITY_INSERT [dbo].[Ejercicio] OFF
SET IDENTITY_INSERT [dbo].[Lecciones] ON 

INSERT [dbo].[Lecciones] ([IdLeccion], [NombreLeccion], [Descripcion], [NombreTema], [Tema_IdTema]) VALUES (1, N'Unidades, Decenas y Centenas', N'Conocer numericos', N'Numeros Naturales', 1)
INSERT [dbo].[Lecciones] ([IdLeccion], [NombreLeccion], [Descripcion], [NombreTema], [Tema_IdTema]) VALUES (2, N'Números de 5 Cifras', N'Conocer numericos', N'Numeros Naturales', 2)
INSERT [dbo].[Lecciones] ([IdLeccion], [NombreLeccion], [Descripcion], [NombreTema], [Tema_IdTema]) VALUES (3, N'Aproximación a la Centena y al Millar', N'Conocer numericos', N'Aproximacion de números', 3)
SET IDENTITY_INSERT [dbo].[Lecciones] OFF
SET IDENTITY_INSERT [dbo].[Preguntas] ON 

INSERT [dbo].[Preguntas] ([PreguntaId], [pregunta], [opt1], [opt2], [opt3], [opt4], [contador], [Respuesta], [Curso_IdCurso]) VALUES (1, N'¿Cuál es el mayor número de 4 decenas?', N'94', N'47', N'49', N'46', N'15', N'3', 2)
INSERT [dbo].[Preguntas] ([PreguntaId], [pregunta], [opt1], [opt2], [opt3], [opt4], [contador], [Respuesta], [Curso_IdCurso]) VALUES (2, N'¿Cuál es el número que sigue al 75?', N'79', N'74', N'76', N'75', N'15', N'3', 2)
INSERT [dbo].[Preguntas] ([PreguntaId], [pregunta], [opt1], [opt2], [opt3], [opt4], [contador], [Respuesta], [Curso_IdCurso]) VALUES (3, N'¿Qué número es menor que 36?', N'26', N'37', N'41', N'55', N'15', N'1', 2)
SET IDENTITY_INSERT [dbo].[Preguntas] OFF
SET IDENTITY_INSERT [dbo].[Tema] ON 

INSERT [dbo].[Tema] ([IdTema], [NombreTema], [Periodo], [Descripcion], [NombreCurso], [Curso_IdCurso]) VALUES (1, N'Numeros Naturales', N'1 año', N'Aprendiendo mas', N'Matematica', 2)
INSERT [dbo].[Tema] ([IdTema], [NombreTema], [Periodo], [Descripcion], [NombreCurso], [Curso_IdCurso]) VALUES (2, N'Numeros Naturales', N'1 año', N'Aprendiendo mas', N'Matematica', 2)
INSERT [dbo].[Tema] ([IdTema], [NombreTema], [Periodo], [Descripcion], [NombreCurso], [Curso_IdCurso]) VALUES (3, N'Aproximacion de números', N'1 año', N'Aprendiendo mas', N'Matematica', 2)
SET IDENTITY_INSERT [dbo].[Tema] OFF
SET IDENTITY_INSERT [dbo].[TipoUsuarios] ON 

INSERT [dbo].[TipoUsuarios] ([IdTipo], [TipoUsuario], [NombreCompleto], [Usuario], [Clave], [FechaCreado]) VALUES (1, N'DOCENTE', N'Pep Zoe', N'Pep21', N'123', CAST(N'2018-02-24T01:25:20.770' AS DateTime))
INSERT [dbo].[TipoUsuarios] ([IdTipo], [TipoUsuario], [NombreCompleto], [Usuario], [Clave], [FechaCreado]) VALUES (2, N'ALUMNO', N'Darley Evangelista', N'Daes', N'12Da', CAST(N'2018-02-24T01:45:38.553' AS DateTime))
INSERT [dbo].[TipoUsuarios] ([IdTipo], [TipoUsuario], [NombreCompleto], [Usuario], [Clave], [FechaCreado]) VALUES (3, N'ALUMNO', N'HENRY LIZARRAGA', N'Henry01', N'Hola1', CAST(N'1900-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TipoUsuarios] OFF
/****** Object:  Index [IX_Lecciones_IdLeccion]    Script Date: 25/02/2018 14:51:28 ******/
CREATE NONCLUSTERED INDEX [IX_Lecciones_IdLeccion] ON [dbo].[Ejercicio]
(
	[Lecciones_IdLeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tema_IdTema]    Script Date: 25/02/2018 14:51:28 ******/
CREATE NONCLUSTERED INDEX [IX_Tema_IdTema] ON [dbo].[Lecciones]
(
	[Tema_IdTema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Curso_IdCurso]    Script Date: 25/02/2018 14:51:28 ******/
CREATE NONCLUSTERED INDEX [IX_Curso_IdCurso] ON [dbo].[Preguntas]
(
	[Curso_IdCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lecciones_IdLeccion]    Script Date: 25/02/2018 14:51:28 ******/
CREATE NONCLUSTERED INDEX [IX_Lecciones_IdLeccion] ON [dbo].[RecursoEducativo]
(
	[Lecciones_IdLeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Curso_IdCurso]    Script Date: 25/02/2018 14:51:28 ******/
CREATE NONCLUSTERED INDEX [IX_Curso_IdCurso] ON [dbo].[Tema]
(
	[Curso_IdCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ejercicio]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ejercicio_dbo.Lecciones_Lecciones_IdLeccion] FOREIGN KEY([Lecciones_IdLeccion])
REFERENCES [dbo].[Lecciones] ([IdLeccion])
GO
ALTER TABLE [dbo].[Ejercicio] CHECK CONSTRAINT [FK_dbo.Ejercicio_dbo.Lecciones_Lecciones_IdLeccion]
GO
ALTER TABLE [dbo].[Lecciones]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lecciones_dbo.Tema_Tema_IdTema] FOREIGN KEY([Tema_IdTema])
REFERENCES [dbo].[Tema] ([IdTema])
GO
ALTER TABLE [dbo].[Lecciones] CHECK CONSTRAINT [FK_dbo.Lecciones_dbo.Tema_Tema_IdTema]
GO
ALTER TABLE [dbo].[Preguntas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Preguntas_dbo.Curso_Curso_IdCurso] FOREIGN KEY([Curso_IdCurso])
REFERENCES [dbo].[Curso] ([IdCurso])
GO
ALTER TABLE [dbo].[Preguntas] CHECK CONSTRAINT [FK_dbo.Preguntas_dbo.Curso_Curso_IdCurso]
GO
ALTER TABLE [dbo].[RecursoEducativo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RecursoEducativo_dbo.Lecciones_Lecciones_IdLeccion] FOREIGN KEY([Lecciones_IdLeccion])
REFERENCES [dbo].[Lecciones] ([IdLeccion])
GO
ALTER TABLE [dbo].[RecursoEducativo] CHECK CONSTRAINT [FK_dbo.RecursoEducativo_dbo.Lecciones_Lecciones_IdLeccion]
GO
ALTER TABLE [dbo].[Tema]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tema_dbo.Curso_Curso_IdCurso] FOREIGN KEY([Curso_IdCurso])
REFERENCES [dbo].[Curso] ([IdCurso])
GO
ALTER TABLE [dbo].[Tema] CHECK CONSTRAINT [FK_dbo.Tema_dbo.Curso_Curso_IdCurso]
GO
/****** Object:  StoredProcedure [dbo].[RegistrarAlumno]    Script Date: 25/02/2018 14:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[RegistrarAlumno]
(
@NombreA varchar(200),
@ApellidoA varchar(200) ,
@EdadA int ,
@GradoA varchar(100),
@SexoA varchar(20) ,
@Cuidad varchar(50) ,
@Departamento varchar(50) ,
@Telefono int,
@Colegio varchar(100),
@FechaCreada datetime

)
as
begin
	insert into Alumno( NombreA, ApellidoA, EdadA, GradoA,SexoA, Cuidad, Departamento, Telefono, Colegio, FechaCreada)
	values( @NombreA, @ApellidoA, @EdadA,@GradoA, @SexoA, @Cuidad, @Departamento, @Telefono, @Colegio, @FechaCreada)
end
GO
/****** Object:  StoredProcedure [dbo].[RegistrarDocente]    Script Date: 25/02/2018 14:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RegistrarDocente](
@IdDocente int,
@NombreD varchar(100),
@ApellidoD varchar(100) ,
@DNI varchar(8) ,
@Rol varchar(30),
@FechaCr datetime
)
as 
begin
	insert into Docente(IdDocente ,NombreD ,ApellidoD ,DNI ,Rol ,FechaCr )
	values (@IdDocente, @NombreD, @ApellidoD, @DNI, @Rol,@FechaCr)
end 
GO
/****** Object:  StoredProcedure [dbo].[RegistrarPersonas]    Script Date: 25/02/2018 14:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RegistrarPersonas](
@IdPersona int,
@NombreP varchar(100),
@ApellidoP varchar(100),
@Edad varchar(3),
@Sexo varchar(10))
as
begin
	insert into Personas(IdPersona, NombreP, ApellidoP, Edad, Sexo)
	values(@IdPersona, @NombreP, @ApellidoP, @Edad, @Sexo)
end
GO
/****** Object:  StoredProcedure [dbo].[RegistrarTipoUsuario]    Script Date: 25/02/2018 14:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarTipoUsuario](

@TipoUsuario varchar(50),
@NombreCompleto varchar(100),
@Usuario varchar(50),
@Clave varchar(50),
@FechaCreado datetime
)
as
begin
	insert into TipoUsuarios( TipoUsuario, NombreCompleto, Usuario, Clave, FechaCreado)
	values(@TipoUsuario, @NombreCompleto, @Usuario, @Clave, @FechaCreado)
end
GO
USE [master]
GO
