<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Game.Seguridad.Properties.Settings.MyFirstGameConnectionString"
            connectionString="Data Source=DAES-PC\SQLEXPRESS;Initial Catalog=MyFirstGame;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>